@import url('./reset.css');
@import url('./base.css');

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 22px;
  padding: 8px 16px;
  margin-right: 8px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px, 16px;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  justify-content: center;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  list-style: none;
}

.gallery > li {
  min-width: 360px;
  flex-basis: calc((100% - 24px) / 4);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.gallery-item {
  width: 360px;
  border: 1px solid #808080;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.info p {
  display: flex;
  flex-direction: column;
}

.image-box {
  position: relative;
  border: 1px solid #808080;
  width: 360px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

b {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  animation: rotation 2s linear infinite;
  margin: 10px auto;
  position: relative;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: prixClipFix 2s linear infinite;
  box-sizing: border-box;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
